li {
    font-size: 2rem;
    font-weight: 900;
    color:blueviolet
}

dl {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;

}

dt {
    font-weight: 700;
    color:rgb(48, 48, 48);
}

img {
    width:200px;
}

.button {
    margin : 20px;
    font-size: 2rem;
}
.button span {
    cursor: pointer;
    padding : 20px;
    border : 1px solid black;
}

.cache{
    display:none;
}

.title {
    cursor: pointer;

}